@import "tailwindcss";

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.dud {
  color: #0f0;
  opacity: 0.7;
}

body {
  margin: 0;
  background-color: black;
  overflow: auto;
}

/* Hide scrollbar for all browsers */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar globally for all elements */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}